a {
    color: black;
}

body, html {
    background-color: white;
    color: black;
}

@media screen and (min-width: 600px) {

    .header {
        background-color: rgb(88, 218, 218);
    }

}
