/* NOTICE- CODE SO THAT IT WILL CHANGE LIGHT MODE DURING DAY AND DARK MODE DURING NIGHT */
/* AND SO THAT THE USER CAN ADJUST THIS IN SETTINGS */

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu:wght@300&display=swap');

#u {display: none;} 

* {
    margin: auto;
}

button, h3, h4, input, p, #challenge {
    margin: 8px 15px;
}

a {
    color:cyan;
    text-decoration: none;
    transition: .5 ease all;
}

a:hover {
    color: white; 
    cursor: pointer;
    transition: .5s ease all;  
}

body, html{
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    /* margin: auto; */
    text-align: center;
    width: 100%;
}

button {
    background-color: rgb(49, 199, 124);
    border: none;
    border-radius:8px;
    color: white;
    font-size: 16px;
    outline: none;
    padding: 8px;
    size:30px;
    transition: .5s ease all;
}

button:hover {
    background-color: rgb(129, 231, 175);
    cursor: pointer;
    transition: .5s ease all;
}

fieldset > div {
    display: flex;
    flex-direction: row;
}

iframe {
    height: 360px;
    margin-top: 20px;
    min-width: 350px;
    width: 30%;
}

input {
    border: 2px solid rgb(131, 131, 131);
    color: black;
    border-radius: 8px;
    font-size: 20px;
    height: 25px;
    padding-left: 10px;
    text-align: center;
    width: 160px;
}

input[type=email] {
    font-size: 12px;
}

h1 {
    background-color: rgba(49, 139, 243, 0.397);
    border-bottom: 3px solid rgba(0, 0, 0, 0.329);
    border-top: 3px solid rgba(0, 0, 0, 0.329);
    /* border-radius: 10px; */
    color:rgb(32, 32, 32);
    /* color:rgb(235, 235, 235); */
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Ubuntu', sans-serif;  */
    font-weight: 300;
    letter-spacing: .15rem;
    padding: 7px 0;
    text-align: center;
    transform: translate(0, -2px);
    width: 100%;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 22px;
    font-weight:300;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

ol, ul {
    background-color:rgb(186, 226, 252);
    border-radius: 10px;
    display: block;
    margin: 10px;
    padding: 10px;
    padding-left: 30px;
}

pre {
    background-color:rgb(198, 255, 203);
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    padding-top: 0;
}

pre > code {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table {
    background-color: rgb(105, 211, 141,.5);
    border: none;
    margin: 10px;
}

table, th, td {
    border: 2px solid rgb(223, 223, 223);
    border-collapse: collapse;
    text-align: center;
}

td > img {
    height: 40px
}

td {
    font-weight: 500;
    padding: 2px 7px;
}

th {
    background-color: rgba(105, 211, 141, 1);
    font-weight: 500;
    padding: 5px 7px;
}

ul {
    list-style: none;
}

.bitVector {
    width:100px;
    background-color: blue;
}

.bitVector>div:hover {
    cursor: pointer;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.card {
    align-items: center;
    background-color: rgba(191, 255, 255, .5);
    border: 2px solid rgb(151, 151, 151);
    border-radius: 10px;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    font-weight:400;
    height: 85px;
    justify-content: center;
    margin: 13px;
    padding: 5px;
    text-align: center;
    transition: .8s ease all;
    width: 85px;
}

.card:hover {
    background-color:rgba(255, 255, 255, 0.781);
    /* border-color: rgb(77, 77, 77); */
    color: black;
    transition: .7s ease all;
}

.cards {
    max-width: 100%;
}

.cards, .process {
    border: 2px solid rgb(150,150,150);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(151, 151, 151, .3);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 600;
    justify-content: flex-baseline;
    /* margin-bottom: 15px; */
    max-width: 91%;
    padding: 10px;
    padding-top: 20px;
    transition: .5s ease all;
}

.cards:hover {
    border-color: rgb(83, 83, 83);
    /* border: 3px solid rgb(150,150,150); */
    transition: .5s ease all;
}

.cards-label {
    background-color:rgb(122, 255, 188);
    border: 3px solid rgb(31, 124, 70);
    border-radius: 5px;
    display: inline;
    padding: 5px;
    text-align:center;
    /* transform: scale(1.2) rotate(180deg) translateX(25px); */
    transform: scale(1.1) translateY(24px);
    /* writing-mode: vertical-lr; */
}

.close-btn {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    transform: translateX(-1%);
}

.definition {
    background-color: aqua;
    font-size: 25px;
    padding: 20px;
}

.desktop-only {
    display: none;
}

.dot {
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    height: 50px;
    width: 50px;
}

.formsci {
    background-color:rgb(186, 226, 252);
}

.header {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: space-between;
    width: 100%;
    box-shadow: 30px;
}

.highlight {
    background-color: rgb(61, 61, 55);
}

.humanities {
    background-color: rgba(170, 103, 214, 0.5);
}

.logo {
    border-radius: 95%;
    transition: .5s ease all;
}

.logo:hover {
    background-color: rgb(230, 218, 218);
    opacity: 90%;
    transition :.5s ease all;
}

.mastery {
    float: right;
    width: 55%
}

.natsci {
    background-color: rgb(109, 214, 109, .5);
}

.pcontent {
    display: flex;
    flex-direction: row-reverse;
}

/* .practice {
    float: left;
    margin: 0;
    padding: 0;
    width: 40%;
} */

.process {
    align-items: center;
    background-color: rgba(106, 180, 245, 0.5);
    /* text-align: center; */
    flex-direction: column;
    padding-top:30px;
}

.row {
    background-color: rgba(98, 207, 98, .5);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%
}

.shoutout {
    position: relative;
}

.sidenav {
    /* width: 0; */
    /* position: fixed; Stay in place */
    z-index: 2;
    background-color: #111; /* Black*/
    overflow-x: hidden; 
    /* padding-top: 60px;  */
    left: 0;
    position: fixed;
    height: 100%; 
    padding-top: 60px;
    top: 0; 
    transition: .2s;
    width: 0; 
}

.sidenav a {
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    color: #f7f7f7;
    display: block;
    transition: 0.3s;
  }

.sidenav a:hover {
    color:aqua;
    transition: .3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.socsci {
    background-color: rgba(216, 184, 0,.5);
}

.square {
    background-color: #555;
    height: 50px;
    width: 50px;
}

.topics {
    width: 10%;
}

.triangle-up {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #555;
    height: 0;
    width: 0;
}

#assessments > ul, h2, #topics > ul, h2 {
    width: 50%;
}

#answer {
    text-align: center;
}

#challenge {
    background-color: rgba(147, 245, 245, .2);
    border: 3px solid rgb(97, 179, 255,.6);
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(151, 151, 151, .3);
    padding: 25px;
}

#countdown {
    align-items: center;
    background-color: rgb(213, 236, 252);
    border: 3px solid rgb(97, 179, 255,.6);
    border-radius: 50%;
    display: none;
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    justify-content: center;
    width: 50px;
}

#footer {
    margin-top: 50px;
}

#info {
    font-size: 16px;
}

#menu {
    cursor: pointer;
    font-size: 24px;
    left: 35px;
    position: absolute;
    top: 20px;
    transform: scaleX(1.3);
    transition: .3s;
    z-index: 2;
}

#personal-info {
    text-align: right;
}

#sidenav {
    width: 0;
}

@media screen and (min-width: 600px) {
    body, html {
        text-align: left;
        margin: auto;
    }

    .desktop-only {
        display: flex;
    }

    .mobile-only {
        display: none;
    }

    .sidenav {
        padding-top: 60px;
    }

    .sidenav a {
        font-size: 20px;
        padding-left: 32px;
    }

    .top-menu {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1000px) {

    .close-btn {
        position: absolute;
        right:5px;
        font-size: 30px;
    }

    .shoutout {
        position:absolute;
        right:20px;
    }
}