@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

a {
    text-decoration: none;
    color: black;
}

body, html {
    width: 100%;
    height: 100vh;
    font-family:'Quicksand', sans-serif;
}

.card {
    display: flex;
    background-color: rgb(191, 255, 255);
    border-radius: 10px;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex-direction: row;
}